@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&family=Righteous&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.logo img{
    width:200px;
    height: auto;
    margin-left: -50px;
    
}
nav{
    background-color: rgb(255, 255, 255);
    height:80px;
    width: 100%;  
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px 0px 80px;
}
nav ul li {
    display: inline-flex;
    list-style: none;
    text-decoration: none;
}
nav ul li a{
    text-decoration: none;
    padding: 0px 40px;
    font-family:'Righteous', cursive;
    color: black;
    font-size: 23px;
    transition:all 0.3s ease;
}   
nav ul li a:hover{
    background-color: rgba(12, 214, 194, 0.713);
    border-radius: 50px; 
}   

/**------**Header End**------**/    


/**------**container start**------**/
#container{
    background-color: rgb(255, 255, 255);
    width:100%;
    height: 500px;
    margin: auto;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 5px;
}
.first img{
    width: 50%;
    height: 450px;
    float:left;
    margin:15px auto 30px 0px;
}

.second img{
    width: 50%;
    height: 454px;
    float:left;
    margin:25px auto 30px 0px;
    
}
#box{
    width:100%;
    height: 600px;
    background:linear-gradient(rgba(6, 4, 145, 0.979),rgb(19, 23, 85),rgb(8, 3, 50));
    text-align: center;
    margin-top:-80px;
    
    
    
}
#box h1{
    color: white;
    font-size: 55px;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: lighter;
    margin-top:80px;

}
#box h1 b{
    font-weight:bold;
}
#box p{
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding:10px 20 auto 20px ;
    margin:40px 90px;
    text-align:center ;
}
#box button {
    text-decoration: none;
    padding: 1px 60px;
    font-family:'Righteous', cursive;
    color: rgb(255, 255, 255);
    font-size: 23px;
    transition:all 0.1s ease;
    background-color: rgba(87, 255, 3, 0.002);
    border-radius: 50px;
    border-color: white;
    border-style: solid;

    
}
#box button:hover{
    background-color:rgb(255, 255, 255);
    border-radius: 50px;
    color:blue;
    cursor:pointer;
}
#invisible-text{
   display:none;
} 

.footer h6{
    color: white;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: lighter;
    font-size:15px;
    background-color:rgb(13, 7, 63);
    text-align: center;
    margin-top:-40px;
    padding:8px 6px;
}

/**------**container End**------**/   



